* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
:root {
  /*  font-size */
  --size-16: 1.6rem;
  --size-6: 0.6rem;
  --size-24: 2.4rem;
  --size-32: 3.2rem;
  --size-18: 1.8rem;
  --size-96: 9.6rem;
  --size-64: 6.4rem;
  --size-14: 1.4rem;
  --size-12: 1.2rem;
  --size-48: 4.8rem;
  --size-150: 15rem;
  --size-256: 25.6rem;
  --size-10: 10px;
  --size-128: 12.8rem;
  --size-175: 17.5rem;
  --size-500: 50rem;
  /* color */

  --color-dark: #333;
  --color-red-light: #eb455f;
  --color-red-dark: #cf1833;
  --color-red-light-l: #eb455ea8;
  --color-heading-primary: #111;
  --color-dark-light: #6b728e;
  --color-white: #fff;

  --Light-green: #7ed56f;
  --Medium-green: #55c57a;
  --Dark-green: #28b485;
  --white: #fff;
  --background-color: #f7f7f7;

  --margin-small: 1.5rem;
  --margin-medim: 3rem;
  --margin-big: 7.2rem;

  --primary: 6rem;
  --secondary: 3.5rem;
  --tertiary: 1.6rem;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/*  Navigation */
header {
  position: relative;
  /* height: 100vh;
  min-height: 80rem; */
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(/images/bg-header-desktop.png);
  background-size: cover;
  width: 100%;
}
.fix-s {
  margin: 0 auto;
  padding: 20rem 0 12rem 0;
}
.nav-w {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: 0.1s;
}
.nav-c {
  width: 100%;
  margin: 0 auto;
}
.nav-f {
  background-color: #ffffff88;
  height: 8rem;
  display: flex;
  padding: 0 3rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6.4rem 9.6rem rgba(0, 0, 0, 0.2);
}
.nav-logo {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}
.nav-logo-box img {
  border-radius: 50%;
  width: 4.8rem;
}
.logo-con {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.logo-con:hover {
  color: var(--color-red-light);
}

.nav-list {
  color: var(--color-dark);
  display: flex;
  gap: 3.2rem;
  list-style: none;
  font-size: 1.6rem;
}
.nav-link:is(:link, :visited) {
  padding: 0 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in;
}
.nav-link:is(:hover, :active) {
  color: var(--color-red-light);
}

.container {
  max-width: 130rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
.heading-primary {
  transition: all 0.3s ease-in;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  color: var(--color-heading-primary);
}
.dis-box {
  margin: 3rem auto 0 auto;
  max-width: 90%;
  text-align: center;
}
.dis {
  font-size: 3.2rem;
  line-height: 1.5;
  width: 100%;
  font-weight: 600;
  color: var(--color-dark);
  cursor: pointer;
}
.heading-primary:hover {
  color: var(--color-red-light);
}

.btn-box {
  margin-top: 5rem;
  text-align: center;
}
.btn-head {
  padding: 1.5rem 8rem;
}
.btn {
  font-size: 2rem;
  background: var(--color-red-light);
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

/* anim-btn*/

.btn:hover {
  transform: translateY(-3px) scale(1.01);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

/* social */
.icon-h {
  width: 3.2rem;
}
.social-link {
  align-items: center;

  display: inline-block;
  justify-content: center;
  padding: 1rem;
  transition: background 0.3s;
  border-radius: 5px;
}
.head-s {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}
.social-link:hover {
  background: var(--color-red-light-l);
}
.mouse-box {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mouse {
  width: 2.4rem;
  height: 4rem;
  border-radius: 6rem;
  border: 2px solid var(--color-heading-primary);
  overflow: hidden;
}
.mouse::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}
@keyframes wheel {
  100% {
    opacity: 0;
    top: 27px;
  }
}
/*  Section-AboutMe */

.section-about {
  max-width: 90rem;
  margin: 0 auto;
  padding: 9rem;
}
.heading-secondary-box {
  text-align: center;
}
.heading-secondary {
  font-size: 4rem;
  display: block;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 4rem;
  color: var(--color-heading-primary);
  position: relative;
}
.heading-secondary::after {
  content: "";
  width: 3.2rem;
  height: 0.8rem;
  bottom: -50%;
  margin-top: 2rem;
  left: 50%;
  opacity: 1;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  background-color: var(--color-red-light);
  position: absolute;
  animation: reg 3s infinite;
}
.dis-secondary {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--color-dark);
}
@keyframes reg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Section-my-skill */

.section-my-skill {
  margin: 0 auto;
  max-width: 130rem;
  padding: 9rem;
}
.boxs {
  display: grid;
  gap: 11rem;
  grid-template-columns: 1fr 1fr;
}
.heading-tertiary {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}
.dis-me-box {
  margin-bottom: 3rem;
}
.dis-me {
  font-size: 1.8rem;
  color: #666;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}
.btn-s {
  padding: 1.5rem 5rem;
}
.btn-link:is(:link, :visited) {
  color: var(--color-red-light);
  text-decoration: none;
  font-size: 1.8rem;
  border-bottom: 2px solid var(--color-red-light);
}
.skill-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2.4rem;
}
.icon-box {
  width: 10rem;
  height: 10rem;
}
.icon-s {
  width: 100%;
}
/* Section-Projects */
.section-my-project {
  max-width: 120rem;
  margin: 0 auto;
  padding: 12rem 0;
}
.section-projects {
  margin: 0 auto 9rem auto;
  max-width: 120rem;
}
.box-grid {
  grid-gap: 5rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: center;
  align-items: center;
}
.dis-tertiary {
  font-size: 2rem;
  width: 90%;
  color: #666;
}
.img-p {
  width: 100%;
  display: block;
  object-fit: cover;
}
.boxs-grid {
  display: flex;
  flex-direction: column;
  gap: 9rem;
}
.box-img {
  overflow: hidden;
}
.icon-p {
  width: 2.8rem;
}
a span {
  margin-left: 6px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-dark);
}
.span-r {
  margin-left: 6px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-white);
}
.btn-p:is(:link, :visited) {
  text-decoration: none;
  color: var(--color-white);
  border-radius: 50%;
  cursor: pointer;
  width: 10rem;
  height: 4.5rem;
  border: none;
  border-radius: 6px;
  background-color: var(--color-white);
  /* border: 2px solid var(--color-dark); */
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-p:is(:hover, :active) {
  transform: translateY(-2px);
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.3);
}
.box-p-l {
  display: flex;
  gap: 24px;
  margin-top: 3rem;
  border-radius: 12px;
}
.btn-p-r:is(:link, :visited) {
  text-decoration: none;
  color: var(--color-white);
  border-radius: 6px;
  cursor: pointer;
  width: 10rem;
  height: 4.5rem;
  border: none;
  background-color: var(--color-red-light);
  /* border: 2px solid var(--color-dark); */
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-p-r:is(:hover, :active) {
  transform: translateY(-2px);
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.3);
}
/*  Section-contact */

.section-contact {
  margin: 0 auto;
  padding: 12rem 0rem;
  background-size: cover;
  background-position: center;
  background: linear-gradient(
    to right,
    rgba(245, 245, 245, 0.8),
    rgba(245, 245, 245, 0.8)
  );
}
.heading-secondary-box-c {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.heading-secondary {
  font-size: 4rem;
  display: block;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 4rem;
  color: var(--color-heading-primary);
  position: relative;
}
.heading-secondary::after {
  content: "";
  width: 3.2rem;
  height: 0.8rem;
  bottom: -50%;
  left: 50%;
  opacity: 1;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  background-color: var(--color-red-light);
  position: absolute;
  animation: reg 3s infinite;
}
.dis-secondary {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--color-dark);
}
@keyframes reg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* section-contact-form */
.contact-box {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  background: #fff;
  padding: 4rem;
  margin-top: 6rem;
  max-width: 80rem;
  text-align: right;
  width: 95%;
  border-radius: 5px;
  margin: 8rem auto 0 auto;
}
.input-box {
  margin-bottom: 4rem;
  text-align: right;
}
.label-c {
  color: #666;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}
.input-c {
  color: #333;
  padding: 2rem;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 1.6rem;
  letter-spacing: 0;
  background: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
}
textarea {
  resize: none;
  margin-bottom: 4rem;
}
.btn-s {
  border: none;
  cursor: pointer;
}
/* Footer */
footer {
  background-color: #111;
  color: var(--color-white);
  padding: 12rem auto 0 auto;
}

.footer-container {
  max-width: 120rem;
  margin: auto;
}
.footer-boxs {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
  position: relative;
}
.footer-box-1 {
  max-width: 50rem;
  width: 40%;
}
.f-social-box {
  display: flex;
  gap: 24px;
}
.footer-boxs::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
#color-fix {
  color: #eee;
  font-weight: 400;
  font-size: 1.6rem;
}
.footer-copy {
  padding: 4rem 0;
  border-top: 1px solid #444;
  color: #eee;
  font-size: 1.2rem;
  text-align: left;
  text-align: center;
}
.btn-link-f:is(:link, :visited) {
  color: var(--color-red-light);
  text-decoration: none;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--color-red-light);
}
.navigation {
  display: none;
}
@media (max-width: 1222px) {
  footer {
    background-color: #111;
    color: var(--color-white);
    padding: 12rem auto 0 auto;
  }

  .footer-container {
    max-width: 103rem;
    margin: auto;
  }
}
@media (max-width: 1100px) {
  .head-content {
    width: 85rem;
  }

  .section-my-skill {
    padding: 7rem;
  }
  .section-projects {
    max-width: 120rem;
  }
  footer {
    background-color: #111;
    color: var(--color-white);
    padding: 12rem auto 0 auto;
  }

  .footer-container {
    max-width: 75rem;
    margin: auto;
  }
}
@media (max-width: 780px) {
  .section-my-skill {
    padding: 4rem;
  }
  .section-projects {
    max-width: 50rem;
  }
  footer {
    background-color: #111;
    color: var(--color-white);
    padding: 12rem auto 0 auto;
  }

  .footer-container {
    max-width: 75rem;
    margin: auto;
    text-align: center;
  }
  .footer-boxs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    position: relative;
  }
  .footer-box-1 {
    max-width: 50rem;
    width: 70%;
    margin-bottom: 4rem;
  }
  .footer-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .f-social-box {
    display: flex;
    gap: 24px;
  }
  .btn-p:is(:link, :visited) {
    text-decoration: none;
    color: var(--color-white);
    border-radius: 50%;
    cursor: pointer;
    width: 9rem;
    height: 4.2rem;
    border: none;
    border-radius: 6px;
    background-color: var(--color-white);
    /* border: 2px solid var(--color-dark); */
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-p {
    width: 2.2rem;
  }
  .box-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 70rem) {
  .head-content {
    width: 85rem;
  }
  .heading-primary {
    font-size: 3.2rem;
  }
  .dis-box {
    margin: 3rem auto 0 auto;
    max-width: 90%;
    text-align: center;
  }
  .dis {
    font-size: 2.2rem;
    line-height: 1.5;
    width: 100%;
    font-weight: 600;
    color: var(--color-dark);
    cursor: pointer;
  }
  .boxs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .skill-box {
    gap: 10rem;
  }
  .section-projects {
    max-width: 35rem;
  }
  .contact-box {
    width: 80%;
  }
  .text-a {
    text-align: center;
  }
}
@media (max-width: 50rem) {
  .heading-secondary::after {
    bottom: -92%;
  }
  .heading-secondary {
    font-size: 2.4rem;
  }
  a span {
    margin-left: 6px;
    font-size: 12px;
    font-weight: 600;
    color: var(--color-dark);
  }
  html {
    font-size: 55%;
  }

  .dis-box {
    margin: 3rem auto 0 auto;
    max-width: 90%;
    text-align: center;
  }
  .dis {
    font-size: 2.4rem;
    line-height: 1.5;
    width: 100%;
    font-weight: 600;
    color: var(--color-dark);
    cursor: pointer;
  }
  .section-projects {
    max-width: 60rem;
  }
  .contact-box {
    width: 80%;
  }

  .social-box {
    width: 4rem;
  }

  .heading-primary {
    font-size: 3rem;
  }

  .dis {
    font-size: 2rem;
  }
  .skill-box {
    gap: 5rem;
  }
}
@media (max-width: 32rem) {
  html {
    font-size: 50%;
  }
  .section-projects {
    max-width: 40rem;
  }
  .f-social-box {
    display: flex;
    gap: 12px;
  }
  .contact-box {
    width: 80%;
  }
  .skill-box {
    gap: 3rem;
  }
}
@media (max-width: 55rem) {
  /* navigation */

  /* }
  .navigation-checkbox {
    display: none;
  }
  .navigation-btn {
    text-align: center;
    background-color: var(--white);
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 10rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 2000;
    cursor: pointer;
  }
  .navigation-background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 10rem;
    right: 3rem;
    z-index: 1000;
    transform: scale(0);
    background-image: radial-gradient(
      var(--color-red-light),
      var(--color-red-dark)
    );
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .navigation-nav {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1500;
    visibility: hidden;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navigation-list {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .navigation-item {
  }
  .navigation-link:is(:link, :visited) {
    font-size: 4rem;
    font-weight: 500;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 2rem 2rem;
    background-image: linear-gradient(
      109deg,
      transparent 0%,
      transparent 50%,
      var(--white) 20%
    );
    background-size: 220%;
    transition: all 0.3s ease-in-out;
    display: inline-block;
  }
  .navigation-link:is(:hover, :active) {
    background-position: 100%;
    transform: translateX(1rem);
    color: var(--color-red-light);
  }

  .navigation-checkbox:checked ~ .navigation-background {
    transform: scale(80);
  }
  .navigation-checkbox:checked ~ .navigation-nav {
    width: 100%;
    visibility: visible;
  }
  .navigation-link:target .navigation-nav {
    width: 0%;
    visibility: hidden;
  }
  .navigation-link:target .navigation-background {
    transform: scale(80);
  }
  .navigation-icon {
    position: relative;
    margin-top: 3.5rem;
  }
  .navigation-icon,
  .navigation-icon::before,
  .navigation-icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
  }
  .navigation-icon::before,
  .navigation-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }
  .navigation-icon::before {
    top: -0.8rem;
  }
  .navigation-icon::after {
    top: 0.8rem;
  }
  .navigation-btn:hover .navigation-icon::before {
    top: -1rem;
  }
  .navigation-btn:hover .navigation-icon::after {
    top: 1rem;
  }
  .navigation-checkbox:checked + .navigation-btn .navigation-icon {
    background-color: transparent;
  }
  .navigation-checkbox:checked + .navigation-btn .navigation-icon::before {
    transform: rotate(-135deg);
    top: 0;
  }
  .navigation-checkbox:checked + .navigation-btn .navigation-icon::after {
    transform: rotate(135deg);
    top: 0;
  }*/
  .nav-bar {
    display: none;
  }
  .nav-f {
    justify-content: center;
  }
}
