* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*  font-size */
  --size-16: 1.6rem;
  --size-6: 0.6rem;
  --size-24: 2.4rem;
  --size-32: 3.2rem;
  --size-18: 1.8rem;
  --size-96: 9.6rem;
  --size-64: 6.4rem;
  --size-14: 1.4rem;
  --size-12: 1.2rem;
  --size-48: 4.8rem;
  --size-150: 15rem;
  --size-256: 25.6rem;
  --size-10: 10px;
  --size-128: 12.8rem;
  --size-175: 17.5rem;
  --size-500: 50rem;
  /* color */

  --color-dark: #333;
  --color-red-light: #eb455f;
  --color-red-dark: #cf1833;
  --color-red-light-l: #eb455ea8;
  --color-heading-primary: #111;
  --color-dark-light: #6b728e;
  --color-white: #fff;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.5%;
}
/*  Navigation */
header {
  position: relative;
  height: 100vh;
  min-height: 80rem;
  background-position: center;
  background: linear-gradient(
    to right,
    rgba(245, 245, 245, 0.8),
    rgba(245, 245, 245, 0.8)
  );
}

.navigation-bar {
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  box-shadow: 0 6.4rem 9.6rem rgba(0, 0, 0, 0.1);
}
.nav-logo {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}
.nav-logo-box img {
  border-radius: 50%;
  width: 4.8rem;
}
.logo-con {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.logo-con:hover {
  color: var(--color-red-light);
}

.nav-list {
  color: var(--color-dark);
  display: flex;
  gap: 3.2rem;
  list-style: none;
  font-size: 1.6rem;
}
.nav-link:is(:link, :visited) {
  padding: 0 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in;
}
.nav-link:is(:hover, :active) {
  color: var(--color-red-light);
}
/* Header */
.header {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.head-content {
  width: 90rem;
}
.heading-primary {
  transition: all 0.3s ease-in;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  color: var(--color-heading-primary);
}
.dis-box {
  margin: 3rem auto 0 auto;
  max-width: 90%;
  text-align: center;
}
.dis {
  font-size: 3.2rem;
  line-height: 1.5;
  width: 100%;
  font-weight: 600;
  color: var(--color-dark);
  cursor: pointer;
}
.heading-primary:hover {
  color: var(--color-red-light);
}

.btn-box {
  margin-top: 5rem;
  text-align: center;
}
.btn-head {
  padding: 1.5rem 8rem;
}
.btn {
  font-size: 2rem;
  background: var(--color-red-light);
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

/* anim-btn*/

.btn:hover {
  transform: translateY(-3px) scale(1.01);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

/* social */
.head-socials {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 0.5rem;
}
.social-box {
  width: 5rem;
}
.social-link {
  width: 100%;
  display: block;
  padding: 1rem;
  transition: background 0.3s;
  border-radius: 5px;
}
.social-link:hover {
  background: var(--color-red-light-l);
}
.mouse-box {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mouse {
  width: 2.4rem;
  height: 4rem;
  border-radius: 6rem;
  border: 2px solid var(--color-heading-primary);
  overflow: hidden;
}
.mouse::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.3s infinite;
  -webkit-animation: wheel 1.3s infinite;
}
@keyframes wheel {
  100% {
    opacity: 0;
    top: 27px;
  }
}
/*  Section-AboutMe */

.section-about {
  max-width: 90rem;
  margin: 0 auto;
  padding: 9rem;
}
.heading-secondary-box {
  text-align: center;
}
.heading-secondary {
  font-size: 4rem;
  display: block;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 4rem;
  color: var(--color-heading-primary);
  position: relative;
}
.heading-secondary::after {
  content: "";
  width: 3.2rem;
  height: 0.8rem;
  bottom: -50%;
  left: 50%;
  opacity: 1;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  background-color: var(--color-red-light);
  position: absolute;
  animation: reg 3s infinite;
}
.dis-secondary {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--color-dark);
}
@keyframes reg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Section-my-skill */

.section-my-skill {
  margin: 0 auto;
  max-width: 130rem;
  padding: 9rem;
}
.boxs {
  display: grid;
  gap: 11rem;
  grid-template-columns: 1fr 1fr;
}
.heading-tertiary {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}
.dis-me-box {
  margin-bottom: 3rem;
}
.dis-me {
  font-size: 1.8rem;
  color: #666;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}
.btn-s {
  padding: 1.5rem 5rem;
}
.btn-link:is(:link, :visited) {
  color: var(--color-red-light);
  text-decoration: none;
  font-size: 1.8rem;
  border-bottom: 2px solid var(--color-red-light);
}
.skill-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.icon-box {
  width: 10rem;
  height: 10rem;
}
.icon-s {
  width: 100%;
}
